ul.content
  li.item-list  Kawasaki introduced the Z1 (900) motorcycle in 1972 as the first of the Kawasaki Z series. Four years later they introduced the Kz900. The original Z1 was the first series of Japanese motorcycles with the combination of four cylinders, dual overhead cams and 903 cc (55.1 cu in).
  li.item-list In 1977 a Z1 ridden by  Reg Pridmore became the first Japanese bike to win an AMA Superbike national when it took the victory at Pocono Raceway. Pridmore went on to win both the 1977 and 1978 US Superbike Championships on Kawasaki Z1s
  li.item-list From 1979, a 'Mk 2' (mark two) version was added with black engine, general restyling including body and paintwork and a shaft-drive version was available, designated Z1000ST. The models continued until superseded by the fuel-injection Z1000H and GPZ1100 of the early 1980s
  li.item-list In 2003 Kawasaki introduced a completely revamped 30 year anniversary edition of the Z1000. It used a modified engine from the Kawasaki ZX-9R, and was bored out by 2.2 mm resulting in bigger displacement, more low-RPM torque, and only a slight power loss of 4 bhp from the original ZX9. In 2004, Kawasaki released the Z1000's smaller brother, the Z750. In 2007, Kawasaki released a new Z1000. The Z-series since the 1970s until today are also known as the "Z", "Zed", and "Z1k".
  li.item-list In October 2009, Kawasaki unveiled the 2010 Z1000. It had a new aluminum frame, digital instrument panel, bodywork, and engine. Bore and stroke are 77 x 56 mm, 1 mm more than the ZX-10R’s 76 x 55 mm displacing 1,043 cc. That is up from the previous model's 953 cc. Compression ratio is 11.8:1, and fuel injection is handled by a bank of 38 mm Keihin throttle bodies.

h1 Models History

ul.second-content
  li.item-list 2003–2006 Models
  p.paragraph-list Stylistically, the 2003 Z1000 was a departure from other naked sportbikes of the time. The Z1000 used the same tail section that was being used on the 2003 ZX6R 636 cc sport bike.It has a 4-2-4 exhaust system. The Z1000 uses a backbone frame that supports the engine as a stressed member. Engine mounts can be removed to ease access for maintenance. Compression damping is done on one fork leg, rebound damping on the other. This technology is from dirt bikes, and is rare on street motorcycles. The Nissin brakes have four piston calipers.
  p.paragraph-list It has a 4-2-4 exhaust system. The Z1000 uses a backbone frame that supports the engine as a stressed member. Engine mounts can be removed to ease access for maintenance. Compression damping is done on one fork leg, rebound damping on the other. This technology is from dirt bikes, and is rare on street motorcycles. The Nissin brakes have four piston calipers.
  li.item-list 2007–2009 Models
  p.paragraph-list In 2007 Kawasaki released an updated version of the Z1000. The bike features a detuned version of the ZX-9R engine. This detuning, in addition to the design of the exhaust, provides less top end compared to the super-sport ZX-9R engine, but more low to mid rpm range.
  li.item-list 2010–2013 Models
  p.paragraph-list The Z1000 was redesigned for 2010. Along with the customary styling update came a slightly larger capacity engine. The motorcycle was officially marketed as the "Z1000 ABS" as ABS came fitted as standard.
  p.paragraph-list In 2013 Kawasaki broke with the 3 year update cycle and choose to release a "special edition", alongside the standard edition, to mark the 40th anniversary of the Z brand.[3] The differences between the models were purely aesthetic.
  li.item-list 2014–2016 Models
  p.paragraph-list The Z1000 was restyled and updated for 2014 making slightly more power and front brake caliper are 4 piston monoblock. Also a big piston Showa separate function fork along with lighter wheels and a slightly larger gas tank.