-
  var bikeName = "Kawasaki Z1000"
  var imagePath = "asset/image/kawasaki.jpg"

#landing-page
.landing-page
  .landing-page__wrapper
    h1.landing-page__name=bikeName
  .landing-page__photo
    img.landing-page__photo-1(src=imagePath)
  p.landing-page__paragraph  The Kawasaki Z1000 is a four-cylinder motorcycle in the streetfighter or standard style. It was first introduced as a successor to the early-1970s Z1 and Z900 machines




