.landing-page {
  height: 100%;
  // background-color: $color-black-grey;
}

.landing-page__name {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 2rem;
}

.landing-page__photo-1 {
  max-width: 100%;
  margin: 0.1rem auto;
  display: flex;
}

.landing-page__paragraph {
  padding: 1rem 0.1rem;
  padding-top: 0;
}
